@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
  }

  .offer-card{
    @apply bg-green
  }
}

@layer components {
}

@layer utilities {
  .nav-item {
    @apply relative hover:text-green;
  }
  .nav-item::after {
    @apply content-['']  bg-green h-[3px] w-[0%] left-0 -bottom-[5px] absolute duration-300 rounded-2xl;
  }
  .nav-item:hover::after {
    @apply w-[100%] ;
  }
  .btn-green {
    @apply hover:bg-grey hover:border-green   hover:text-green transition-colors duration-300;
  }
  .btn-beige {
    @apply hover:bg-green hover:border-white  hover:text-white transition-colors duration-300;
  }
  .btn-white {
    @apply hover:bg-green hover:border-white hover:text-white transition-colors duration-300;
  }
  .drop-nav{
    @apply py-2 opacity-0 hidden  z-20 bg-white px-2 transition-colors
  }
  .active {
    @apply flex
  }

  .active-search{
    @apply block opacity-100
  }

  .dropdown:hover .drop-nav{
     @apply block  opacity-100
  }

  .drop-nav:hover{
    @apply bg-green text-white
  }

  .hero{
    @apply bg-beige w-screen absolute grid grid-rows-2 md:flex md:flex-row  md:gap-16 transition-transform
  }

  section .animate {
    @apply transition-all duration-500
  }

  .sec-1 .animate {
    opacity: 0
  }
  .sec-1.show-animate .animate {
    opacity: 1
  }

  .sec-2 .animate{
     opacity: 0
  }
  .sec-2.show-animate .animate{
    opacity: 1;
  }

  .sec-3 .animate{
    transform: scale(0.5)
  }

  .sec-3.show-animate .animate{
    transform: scale(1)
  }


}
